body {
    margin-left: 40px;
}

.clearfix {
  clear:both;
}

.col-2 {
  float:left;
  margin: auto;
  width: 50%;
  box-sizing: border-box;
}

.col-3 {
  float: left;
  margin: auto;
  width: 25%;
  box-sizing: border-box;
}

.halfPage {
  width:50%;
}

.story {
  border: 2px;
}

.storyImage {
  max-width: 200px;
}

.userImage {
  max-width: 50px;
  border-radius: 100%;
}

.commentIcon {
  max-width: 25px;
  float: right;
  vertical-align: bottom;
}

.byLine {
  margin: 5px;
}
