.clearfix {
  clear:both;
}

.col-2 {
  float:left;
  margin: auto;
  width: 50%;
}

.col-3 {
  float: left;
  margin: auto;
  width: 33%;
}

.halfPage {
  width:50%;
}

.userImage {
  max-width: 50px;
  border-radius: 100%;
}

.commentIcon {
  max-width: 25px;
  float: right;
}

.byLine {
  margin: 5px;
}
